@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-light: linear-gradient(to right, rgba(137, 216, 255, 0.12) 30%, rgba(255, 248, 157, 0.30) 100%);
  --foreground-light: #171717;

  --background-dark: #0a0a0a;
  --foreground-dark: #ededed;

  --background: var(--background-light);
  --foreground: var(--foreground-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--background-dark);
    --foreground: var(--foreground-dark);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
